/* Original config file PATH: /etc/xdg/waybar/style.css */

@import "colors.css";

* {
    border: none;
    border-radius: 20px;
    font-family: Adwaita Sans, JetBrainsMono Nerd Font Propo, Roboto, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    min-height: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

.modules-left {
    margin-left: 15px;
}

.modules-right {
    margin-right: 15px;
}

#custom-launcher {
    background: #121212;
    padding: 8 20px;
    margin: 0 10px;
    color: #33ccff;
}

#clock {
    background: #121212;
    padding: 8 15px;
    margin: 0 10px;
}

#workspaces {
    background: #121212;
    padding: 8 5px;
    margin: 0 10px;
}

#workspaces button {
    padding: 2 6px;
    margin: 0 3px;
    border-radius: 20px;
    color: #e8eaed;
    background: #434343;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background: #e8eaed;
    color: #0ea537;
    min-width: 50px;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

#workspaces button:hover {
    background: #1a472a;
    color: #dbd9d8;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
}

#workspaces button.urgent {
    background: #aa1122;
    color: #e8eaed;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#custom-spotify {
    background: #121212;
    padding: 8 15px;
    margin: 0 10px;
}

#custom-notification {
    background: #121212;
    padding: 5 12px;
    margin: 0 10px;
}

#custom-media {
    background: #121212;
    padding: 8 15px;
    margin: 0 10px;
}

#custom-pacman {
    background: #121212;
    padding: 8 15px;
    margin: 0 10px;
}

#custom-weather {
    background: #121212;
    padding: 8 15px;
    margin: 0 10px;
}

#pulseaudio {
    background: #121212;
    padding: 8 15px;
    margin: 0 10px;
}

#bluetooth {
    background: #121212;
    padding: 8 15px;
    margin: 0 10px;
}

#network {
    background: #121212;
    padding: 8 15px;
    margin: 0 10px;
}


#power-profiles-daemon {
    background: #121212;
    padding: 8 15px;
    margin: 0 10px;
}

#battery {
    background: #121212;
    padding: 8 15px;
    margin: 0 10px;
}


/* #mode, #clock, #battery {
    padding: 0 10px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
    background-color: #64727D;
}

#battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-weather.severe {
    color: #eb937d;
}

#custom-weather.Sunny {
    color: #c2ca76;
}

#custom-weather.Clear {
    color: #2b2b2a;
}

#custom-weather.Cloudy {
    color: #c2ddda;
}

#custom-weather.Rainy {
    color: #5aaca5;
}

#custom-weather.snowyIcyDay, #custom-weather.snowyIcyNight {
#custom-weather.Snowy {
    color: #d6e7e5;
} */

#custom-weather.default {
    color: #dbd9d8;
}
