* {
    background:                  rgba(18, 20, 14, 0.8);
    background-alt:              #45483d;
    foreground:                  #e3e3d8;
    selected:                    #b5d086;
    active:                      #b5d086;
    urgent:                      #ffb4ab;
}
